@charset "ISO-8859-1";

button {
	background-color:#FFD700;
	border-radius: 8px;
	border: solid white;
	text-align:center;
	padding: 20px;
	font-size: 20px;
}

div {
	
	
}

fieldset{
	background-color:#00BFFF;
	border-radius: 8px;
	border-color: #00BFFF;
	border: solid;
	font-size: 20px;
	
}

textarea {
	background-color:#87CEFA;
	border-radius: 8px;
	border-color: #00BFFF;
	border: solid white;
	font-size: 13px;
	
}

#startGame {}